<h1>{{quoteData.volumeInfo.title}}</h1>

<div class="col-md-4">
      <div class="text-success" style="font-size: large;
            font-weight: 700;">{{this.name}}</div>
         <img src="{{quoteData.imageLinks.small.Tumbnails}}">
      </div>