<form id="search-form">
  <div class="input-group">
    <label for="genre-questionaire" class="search-label">Search Genre:</label>
    <input class="form-control" type="text" id="genre-questionaire">
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-book"></i>
  </div>
</form>

<ul class="genre-results">
    {{!-- Results from search --}}
</ul>
    
<script src="/js/questionaire.js"></script>