<div class="question-section">
      <h1>What kind of genre do you like to read?</h1>

    <!-- where user will type their response-->
      <form id="genre-form">
        <div class="question-form">
          <label for="genre-questionaire">Genre: </label>
          <input class="genre-input" type="text" id="genre-questionaire">
        </div>

    <!-- submit button -->
        <div class="submit-form">
          <button class="btn genre-submit" type="submit">Submit!</button>
        </div>
      </form>
    </div>

    <div class="results">
        {{#each genreData}}
        <a href="{{bookLink}}"><img src="{{bookImage}}"></a>
        <h2>Title: {{bookTitle}}</h2>
        {{/each}}
    </div>
    
<script src="/js/questionaire.js"></script>