<div class="question-section">
      <h1>What kind of genre do you like to read?</h1>

    <!-- where user will type their response-->
      <form class="genre-form">
        <div class="question-form">
          <label for="genre-questionare">Genre: </label>
          <input class="genre-input" type="text" id="genre-questionare">
        </div>

    <!-- submit button -->
        <div class="submit-form">
          <button class="btn genre-submit" type="submit">Submit!</button>
        </div>
      </form>
    </div>

    <div class="results">
        {{#each genreData}}
        <h2>Title: {{bookTitle}}</h2>
        {{/each}}
    </div>
<script src="./js/questionare.js"></script>