<div class="question-section">
  
  <!-- where user will type their response-->
      <form id="genre-form"  >
        <div class="question-form" > 
          <label for="genre-questionaire">Search Genre</label>
          <input class="genre-input" type="text" id="genre-questionaire">
        </div>

    <!-- submit button -->
        <div class="submit-form">
          <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-book"></i>
        </div>
      </form>
    </div>




    <div class="results">
        {{#each genreData}}
        <a href="{{bookLink}}"><img src="{{bookImage}}"></a>
        <h2>Title: {{bookTitle}}</h2>
        {{/each}}
    </div>


    
<script src="/js/questionaire.js"></script>