<form id="search-form">
    <div class="input-group">
            <label class="form-label" for="search" style="margin-right: 1em;">Search:</label>
            <input type="text" id="search" class="form-control" />
              <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-book"></i>
        </button>
    </div>

</form>
<ul class="book-list">
    {{!-- Results from search --}}
</ul>

<script src="/js/search.js"></script>