body,
html {
  margin: 0;
  width: 100%;
  background-color: #0d0d0d;
  color: #e4e4e4;
}
html {
  background-color: #0d0d0d;
  color: #e4e4e4;
}

/* .container {
    padding: 1em;
    max-width:750px;
    min-height:100vh;
    width:90%;
    margin: auto;
    box-sizing:border-box;
    background-color:aquamarine;
} */

.row {
  margin: 0;
  padding-left: 20px;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
