body,
html {
  margin: 0;
  width: 100%;
  background-color: #0d0d0d;
  color: #e4e4e4;
}
html {
  background-color: #0d0d0d;
  color: #e4e4e4;
}

/* General page styles */

header {
  font-family: "Jomolhari", serif;
}

/* body {
  background-color: #a28089;
} */

h1 {
  font-family: "Jomolhari", serif;
  /* background-color: teal;
  color: #ffb3c6; */
  padding: 16px;
  margin-bottom: 5px;
}


main {
  font-family: "Jomolhari", serif;
  margin-top: -5px;
  /* background-color: #a28089; */
}

/* Card styles */

/* .card {
  background-color: #fcebf0;
} */

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease;
}

/* .container {
    padding: 1em;
    max-width:750px;
    min-height:100vh;
    width:90%;
    margin: auto;
    box-sizing:border-box;
    background-color:aquamarine;
} */

.row {
  margin: 0;
  padding-left: 20px;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
